.link-container {
  font-family: "Open Sans", sans-serif;
  margin-left: 150px;
  font-size: 1.2rem;
  text-decoration: none;
  color: #40cfcb;
}
mat-card {
  display: inline-block;
  width: 30%;
  margin-left: 150px;
  margin-top: 100px;
}

button {
  margin: 20px 15px 0px 0px;
}

.button-color {
  background-color: red;
}
